windows/KeyMagic.NET/InputProcessor/Release
windows/KeyMagic.NET/KeyMagic.NET/obj
windows/KeyMagic.NET/bin
windows/KeyMagic/Debug
windows/KeyMagic/KeyMagic/Release
windows/KeyMagic/KeyMagic/x64
windows/KeyMagic/KeyMagicDll/Release
windows/KeyMagic/KeyMagicDll/Debug
windows/KeyMagic/KeyMagic/Debug
windows/KeyMagic/KeyMagicDll/x64
windows/KeyMagic/Release
windows/KeyMagic/x64
windows/KeyMagicTS/Debug
windows/KeyMagicTS/Release
windows/KeyMagicTS/bin
windows/KeyMagicTS/x64
cross-platform/libkeymagic/vs/bin
OSX/IMKBased/build
cross-platform/KeyMagicTester/Debug
cross-platform/KeyMagicTester/Release
cross-platform/jkeymagickb/build
cross-platform/jkeymagickb/vs/Debug
cross-platform/jkeymagickb/vs/Release
cross-platform/keymagic.xcodeproj/project.xcworkspace/xcuserdata
cross-platform/keymagic.xcodeproj/xcuserdata
cross-platform/keymagic2.xcodeproj/project.xcworkspace/xcuserdata
cross-platform/keymagic2.xcodeproj/xcuserdata
cross-platform/libkeymagic/build
cross-platform/libkeymagic/libKeyMagic.xcodeproj/xcuserdata
cross-platform/libkeymagic/libkeymagic.net/Debug
cross-platform/libkeymagic/libkeymagic.net/Release
cross-platform/libkeymagic/libkeymagic.net/Tester-Debug
cross-platform/libkeymagic/vs/Debug
cross-platform/libkeymagic/vs/Release
cross-platform/libkeymagic/vs/Tester-Debug
cross-platform/libkeymagic/vs/x64
cross-platform/parser/Debug
cross-platform/parser/Release
cross-platform/parser/parser/Debug
cross-platform/parser/parser/Release
cross-platform/parser/parser/build
deprecated/EventBased/build
windows/Editor/kEditor/bin/Debug
windows/Editor/kEditor/bin/Release
windows/Editor/kEditor/obj
windows/KeyMagic.NET/InputProcessor/Debug
windows/KeyMagic.NET/HookInput/x64/Debug
windows/KeyMagic.NET/InputProcessor/x64
windows/inno/output
windows/inno/KeyMagic.Net/Output
*.csproj.user
*.vcproj.*.user
cross-platform/libkeymagic/libKeyMagic.xcodeproj/project.xcworkspace/xcuserdata
*.suo
*.ilk
*.pdb
vc_2008_redist_x86.exe
*.vcxproj.user
cross-platform/libkeymagic/bin
KeyMagic-1.5.pkg
OSX/IMKBased/KeyMagic.xcodeproj/project.xcworkspace/xcuserdata
libkeymagic.a
*.sdf
/windows/KeyMagic.NET/ipch
/cross-platform/libkeymagic/libkeymagic.net/*.filters
/cross-platform/libkeymagic/vs/ipch
/windows/KeyMagic.NET/HookInput/Debug
/windows/KeyMagic.NET/HookInput/x64
