<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>KeyMagic.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.keymagic.KeyMagicServer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>TTKZ</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>InputMethodConnectionName</key>
	<string>KeyMagic_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>KeyMagicIMEController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>KeyMagicIMEController</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>org.keymagic.inputmethod.KeyMagic</string>
	<key>tsInputMethodIconFileKey</key>
	<string>KeyMagic.icns</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
