<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">

      <section name="kEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <kEditor.Properties.Settings>
      <setting name="RecentFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultFontName" serializeAs="String">
        <value>Tahmoa</value>
      </setting>
      <setting name="DefaultFontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ForceDefaultEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StyleConfig" serializeAs="String">
        <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;Styles&gt;
  &lt;Style index="1" fontName="Segoe UI" fontSize="8"
  foreColor="FF2D2DFF" backColor="FFFFFFFF" bold="False"
  italic="False" /&gt;
  &lt;Style index="4" fontName="Segoe UI" fontSize="8"
  foreColor="FF2D2DFF" backColor="FFFFFFFF" bold="False"
  italic="False" /&gt;
  &lt;Style index="5" fontName="Verdana" fontSize="8"
  foreColor="FF1E90FF" backColor="FFFFFFFF" bold="False"
  italic="False" /&gt;
  &lt;Style index="6" fontName="Verdana" fontSize="8"
  foreColor="FFFF7F50" backColor="FFFFFFFF" bold="False"
  italic="False" /&gt;
  &lt;Style index="7" fontName="Arial" fontSize="8" foreColor="C4"
  backColor="FFFFFFFF" bold="False" italic="False" /&gt;
  &lt;Style index="8" fontName="Arial" fontSize="8" foreColor="C4"
  backColor="FFFFFFFF" bold="False" italic="True" /&gt;
  &lt;Style index="11" fontName="Verdana" fontSize="8"
  foreColor="80C0" backColor="FFFFFFFF" bold="False"
  italic="False" /&gt;
  &lt;Style index="12" fontName="Verdana" fontSize="8"
  foreColor="FF008000" backColor="FFFFFFFF" bold="False"
  italic="True" /&gt;
  &lt;Style index="13" fontName="Verdana" fontSize="8"
  foreColor="FF008000" backColor="FFFFFFFF" bold="False"
  italic="True" /&gt;
  &lt;Style index="15" fontName="Verdana" fontSize="8"
  foreColor="FF8000" backColor="FFFFFFFF" bold="False"
  italic="False" /&gt;
&lt;/Styles&gt;</value>
      </setting>
      <setting name="LineNumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GlyphFilterText" serializeAs="String">
        <value>Myanmar</value>
      </setting>
      <setting name="HexNotation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DoNotAskForAdmin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastTabs" serializeAs="String">
        <value />
      </setting>
    </kEditor.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
