<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyMagic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeyMagic.Properties.Settings>
            <setting name="colHotkeyWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="colDescWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="colDisplayWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="colFileNameWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
        </KeyMagic.Properties.Settings>
    </userSettings>
</configuration>